
*{
    margin: 0px;
    padding: 0px;
}
/*======================== start section 1 ========================================================  */
.section1{
    width: 100%;
    height: 100vh;
    background-color: white(240, 232, 232)
}
.section1 .nav1{
    /* margin-top: 10px; */
    width: 90%;
    height: 50px;
    background-color: white;
    margin: auto;
}
.section1 .nav1 ul{
list-style-type: none;
padding-top: 10px;
font-size: 20px;
}
.section1 .nav1 ul li{
    display: inline-block;
  height: 100%;
}
.section1 .nav1 ul li a {
    text-decoration: none;
    color:rgba(0, 0, 0, 0.925);
}
.right{
    float: right;
    padding-right: 10px;
    font-size: 20px;
    padding-right: 20px;
    
}

.left{
 padding-left: 20px;
}
.section1 .nav1 ul li a span{
    font-family: serif;
}
.section1 .line{
    margin-top: 2px;
    width: 100%;
    height: 2px;
    background-color: rgb(0, 0, 0);
    border:50%      ;
}
.navbar-expand-lg {
    justify-content: center;
}
.navbar{
    width: 80%;
    justify-content: center;
    margin: auto;
}
.navbar-nav{
    margin-left: 40%;
}
 .section1 .navbar-brand{
    font-size: 40px;
    color: black;
}
.nav-link{
    color: black;
    font-size: 20px;
}
.nav-link:hover{
background-color: orange;
color:blue;
border-radius: 40px;

}
/* ------------------- start slide ======================================================== */
.section1 .slide{
    width: 100%;
    height:85.5vh;
    background-color: black;
}
.section1 .slide .carousel-inner{
    width: 100%;
    height: 100%;
    
}
.section1 .slide .carousel-inner .card1 {
    width: 100%;
    height: 100%;
    background-image: url(../images/banner-01.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.section1 .slide .carousel-inner .card2{
    width: 100%;
    height: 100%;
    background-image: url(../images/banner-02.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.section1 .slide .carousel-inner .card3{
    width: 100%;
    height: 100%;
    background-image: url(../images/banner-03.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.section1 .slide .carousel-inner  .text-heding{
    width: 35%;
    height: 30%;
    /* background-color: black; */
    margin-left:20%;
    margin-top:14%;
}
.section1 .slide .carousel-inner  .text-heding h2{

    color: aliceblue;
    margin-top: 30px;
    padding:4px;
    text-transform: uppercase;
    font-size: 60px;
}
.section1 .slide .carousel-inner  .text{
    width:170px;
    height:30px;
    background-color:white;
     color: black;
    border-radius: 30px ;
    text-align: center;
    padding-top: 5px;
}
.section1 .slide .carousel-inner .text h6 em{
    color: orange;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* ------------------- end slide ======================================================== */



/* -----------------------------------------------------  start media  ===================================================================== */


@media(max-width:768px){
    .section1 .nav1 ul {
        list-style-type: none;
        padding-top: 0px;
        font-size: 17px;
    }
    .section1 .slide {
        width: 100%;
        height: 84vh;
    }
    .section1 .slide .carousel-inner .text-heding {
        width: 55%;
        height: 30%;
       margin-top: 28%;
    }    
    .section1 .slide .carousel-inner .text-heding h2 {
        color: aliceblue;
        margin-top: 30px;
        padding: 4px;
        text-transform: uppercase;
        font-size: 52px;
    }
}

@media (max-width:425px){
    .right {
        float: right;
        padding-right: 10px;
        font-size: 16px;
        padding-right: 7px;
    }
    .left {
        padding-left: 1px;
    }   
    .section1 .nav1 ul {
        list-style-type: none;
        padding-top: 0px;
        font-size: 15px;
    }
    .section1 .nav1 {
        /* margin-top: 10px; */
        width: 100%;
        height: 50px;
        background-color: white;
        margin: auto;
    }
    .section1 .slide .carousel-inner .text-heding {
        width: 81%;
        height: 30%;
        margin-top: 50%;
    }.section1 .slide .carousel-inner .text-heding h2 {
        color: aliceblue;
        margin-top: 29px;
        padding: 4px;
        text-transform: uppercase;
        font-size: 36px;
    }
    
}


/* -----------------------------------------------------  end media  ===================================================================== */

/*============================================================================================= end section 1 ========================================================  */


/*========================================================================= start section 2 ========================================================  */
.section2{
    width: 100%;
    height: 65vh;
    background-color: white;
    margin-top: 40px;
}
.section2 .container{
    width: 100%;
  height: 100%;
}
.section2 .container .row{
    height: 80%;
    width: 100%;
    /* background-color:blue; */
}

.section2 .container .row .images .icon{
        width: 120px;
        height: 117px;
        background-color: rgb(238, 63, 0);
        text-align: center;
        padding-top: 27px;
        border-radius: 91px;
        position: absolute;
        margin-top: -72px;
        margin-left: -9px;    
    }
  

.section2 .container .row .text p {
    color: orangered;
}
  .section2 .container .row .text .dropdown1{
    width: 100%;
    height: 50%;
    border-radius: 30%;
    margin-top: 25px;
    text-align: center;
    padding: 10px;
} 
 .section2 .container .row .text .dropdown .dropdown2{
    font-size: 21px;
    margin-top: 20px;
    text-align: center;

}
/* .section2 .container .row .text .dropdown .group .Best{
    width: 100%;
    font-size: 25px;
    height: 100%;
    overflow: hidden;

} */ */


.section2 .container .row .text .dropdown .btn-group .Best:hover{
    color: chocolate;  
     height: auto;
    
}
.section2 .container .row .card4{
        box-shadow: 10px 10px 10px 10px  #b4b2b2 ;
}
.section2 .container .row .card .imaga img{

height: 60%;
margin:25px;

}
.card-body h1{
    font-weight: bold;
font-size: 35px;    

}
/* ============================================= start media ==========================================================  */
@media (max-width:768px) {

.section2 {
    width: 100%;
    height: 225vh;
    background-color: white;
    margin-top: 40px;

}
.section2 .container .row .images img{
    width: 100%;
}
.section2 .container .row .images .icon {
    width: 101px;
    height: 138px;
    background-color: rgb(238, 63, 0);
    text-align: center;
    padding-top: 21px;
    border-radius: 91px;
    position: absolute;
    margin-top: -89px;
    margin-left: -6px;}
    .section2 .container {
        width: 100%;
        height: 12%;
    }
}
@media(max-width:394px){

    .section2 .container .row {
        height: 80%;
        width: 110%;
    }
    .section2 .container .row .images .icon {
        width: 48px;
        height: 77px;
        background-color: rgb(238, 63, 0);
        text-align: center;
        /* padding-top: 21px; */
        border-radius: 91px;
        position: absolute;
        /* margin-top: -89px; */
        margin-left: -6px;
    }
    .section2 .container .row .images .icon a img{
            margin-top: -6px;
        }
        .section2 .container .row .images .icon {
            width: 55px;
            height: 77px;
            background-color: rgb(238, 63, 0);
            text-align: center;
            /* padding-top: 21px; */
            border-radius: 91px;
            position: absolute;
            margin-top: -57px;
            margin-left: -1px;
        }
        .section2 {
            width: 98%;
            height: 254vh;
            background-color: white;
            margin-top: 40px;
        }

}

/* ============================================= start media ==========================================================  */

/*========================================================================= end section 2 ========================================================  */


/*========================================================================= start  section 3 ========================================================  */
.section3{
    width: 100%;
    height: 120vh;

}
.section3 .imag-text{
    width: 100%;
    height: 60%;
    position: absolute;
    background-image: url(../images/video-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.section3 .imag-text .vidoe-text{
    width: 25%;
    height: 30%;
    margin: 9% auto;
    text-align: center;
    color: white;
}
.section3 .imag-text .vidoe-text p{
    color: orangered;
}
.section3 .imaga-vidoe{
    background-color: aliceblue;
    width: 61%;
    height: 55%;
     position: absolute;
     margin-top: 22%;
     margin-left: 18%;
    background-image: url(../images/video-frame.jpg); 
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 20px;
} 
.section3 .imaga-vidoe .icon-vidoe{
    width: 8%;
    height: 14%;
    margin: 20% auto ;
    text-align: center  ;
    border-radius: 50%;
    background-color: rgba(231, 131, 95, 0.473);
}
.section3 .imaga-vidoe .icon-vidoe i{
  color:white;
    font-size: 60px;
    padding: 9px;
}
.section3 .chlid{
    position: absolute;
    width: 60%;
    height: 100px;
    margin-bottom: 0px;
    margin-top: 53%;
    margin-left:19%;
}
.section3 .chlid .bild{
    background-color:white
}
.section3 .chlid .bild .hedihg{
    background-color:rgba(252, 116, 66, 0.473);
    display: flex;
    width: 90%;
    height: 100%;
    text-align: center;
    border-radius: 20px;
}  
.section3 .chlid .bild .hedihg h1{
    font-size: 60px;
    
}
.section3 .chlid .bild .hedihg .pelgrph{
    padding: 20px;
   font-size: 20px;
}
.section3 .chlid .bild .border{
    width: 61px;
    height: 59px;
    background-color: orangered;
    border-radius: 50%;
    margin-top: -121px;
    margin-left: 270px;
}
/* ================================================ start media ====================================== ============================== */
@media (max-width:768px) {
    .section3 .imaga-vidoe {
        background-color: aliceblue;
        width: 61%;
        height: 52%;
        position: absolute;
        margin-top: 39%;
        margin-left: 18%;
    }
    .section3 .imag-text .vidoe-text {
        width: 35%;
        height: 32%;
        margin: 8% auto;
    }    
    .section3 .imaga-vidoe {
        background-color: aliceblue;
        width: 86%;
        height: 48%;
        position: absolute;
        margin-top: 37%;
        margin-left: 7%;
}


.section3 .chlid {
    position: absolute;
    width: 50%;
    height: 341px;
    margin-bottom: 0px;
    margin-top: 95%;
    margin-left: 19%;
}
.section3 .chlid .bild {
    background-color: white;
    padding-top: 28px;
    

}
.section3 {
    width: 100%;
    height: 129vh;
    background-color:white;
}
.section3 .chlid {
    position: absolute;
    width: 50%;
    height: 436px;
    margin-bottom: 0px;
    background-color: blue;
    margin-top: 96%;
    margin-left: 19%;
}
.section3 .imag-text .vidoe-text {
    width: 74%;
    height: 32%;
    margin: 8% auto;
}
.section3 .imaga-vidoe .icon-vidoe {
    width: 15%;
    height: 19%;
    background-color: rgba(255, 68, 0, 0.507);
    margin: 20% auto;
    text-align: center;
    border-radius: 50%;
}   
}
@media (max-width:425px) {
    .section3 .imaga-vidoe {
        background-color: aliceblue;
        width: 100%;
        height: 29%;
        position: absolute;
        margin-top: 55%;
        margin-left: 0px;
    }   
    .section3 .imag-text .vidoe-text {
        width: 85%;
        height: 30%;
        margin: 12% auto;
    }
    .section3 .imaga-vidoe .icon-vidoe {
        width: 19%;
        height: 29%;
        background-color: rgba(255, 68, 0, 0.507);
        margin: 22% auto;
        text-align: center;
        border-radius: 50%;
    }
    .section3 .chlid {
        position: absolute;
        width: 83%;
        height: 424px;
        margin-bottom: 0px;
        background-color: blue;
        margin-top: 129%;
        margin-left: 13%;
    }
    .section3 {
        width: 100%;
        height: 109vh;
    }
}
@media (max-width:400px) {
.section3{
    width: 100%;
}
    .section3 .imag-text .vidoe-text {
        width: 92%;
        height: 30%;
        margin: 12% auto;
    }
    .section3 .imaga-vidoe .icon-vidoe i {
        color: white;
        font-size: 38px;
        padding: 9px;
    }
    .section3 .imaga-vidoe {
        background-color: aliceblue;
        width: 100%;
        height: 26%;
        position: absolute;
        margin-top: 65%;
        margin-left: 0px;
    }
    .section3 .chlid .bild .border {
        width: 56px;
        height: 56px;
        background-color: orangered;
        border-radius: 50%;
        margin-top: -118px;
        margin-left: 226px;
    } 
    .section3 .chlid {
        position: absolute;
        width: 83%;
        height: 354px;
        margin-bottom: 0px;
        background-color: blue;
        margin-top: 129%;
        margin-left: 13%;
    }
}

/*========================================================================= end section 3 ========================================================  */




/*========================================================================= stert  section 4 ========================================================  */




.section4{
    width: 100%;height: 100vh;
    background-color: black;
    margin-top: 30px;
}
.section4 .container{
    width: 100%;
    height: 100vh;
    background-color: antiquewhite;
}
.BEST-DEAL{
    width: 400px;
    height: 200px;
    background-color: blue;
}
.BEST-DEAL p{
    color: orangered;
}


/*========================================================================= end section 4 ========================================================  */
