/*======================== start section 1 ========================================================  */
.section1 {
  width: 100%;
  height: 50vh;
  background-color: white;
}
/*==================== Start nVbar =============================================================== */
.section1 .nav1 {
  /* margin-top: 10px; */
  width: 90%;
  height: 50px;
  background-color: white;
  margin: auto;
}
.section1 .nav1 ul {
  list-style-type: none;
  padding-top: 10px;
  font-size: 20px;
}
.section1 .nav1 ul li {
  display: inline-block;
  height: 100%;
}
.section1 .nav1 ul li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.925);
}
.right {
  float: right;
  padding-right: 10px;
  font-size: 20px;
  padding-right: 20px;
}

.left {
  padding-left: 20px;
}
.section1 .nav1 ul li a span {
  font-family: serif;
}
.section1 .line {
  margin-top: 2px;
  width: 100%;
  height: 2px;
  background-color: rgb(0, 0, 0);
  border: 50%;
}
.navbar-expand-lg {
  justify-content: center;
  background-color: white;
}
.navbar {
  width: 80%;
  justify-content: center;
  margin: auto;
}
.navbar-nav {
  margin-left: 40%;
}
.section1 .navbar-brand {
  font-size: 40px;
  color: black;
}
.nav-link {
  color: black;
  font-size: 20px;
}
.nav-link:hover {
  background-color: orange;
  color: blue;
  border-radius: 40px;
  text-align: center;
}
/*    ===========================   ========================= END    Navbar  ============================*/

.section1 .main {
  width: 100%;
  height: 40%;
  background-image: url(../images/video-bg.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /* background-position: 0lvb; */
  position: absolute;
}
.section1 .main .child {
  width: 30%;
  height: 50%;
  margin: auto;
  position: relative;
  margin-top: 95px;
  /* background-color: aliceblue; */
  text-align: center;
}
.section1 .main .child .a {
  background-color: rgb(255, 255, 255);
  width: 50%;
  height: 40px;
  text-align: center;
  position: relative;
  margin: auto;
  padding-top: 10px;
  border-radius: 20px;
}
.section1 .main .child .a a {
  text-decoration: none;
  color: black;
  margin-top: 10px;
}
.section1 .main .child .a:hover {
  background-color: orangered;
}
.section1 .main .child h1 {
  font-weight: bold;
  font-size: 50px;
  color: aliceblue;
  margin-top: 25px;
}

/* -------------------------===----------------------------  start media  ===================================================================== */

@media (max-width: 768px) {
  .section1 .nav1 ul {
    list-style-type: none;
    padding-top: 0px;
    font-size: 17px;
  }
  .section1 .slide {
    width: 100%;
    height: 84vh;
  }
  .section1 .slide .carousel-inner .text-heding {
    width: 55%;
    height: 30%;
    margin-top: 28%;
  }
  .section1 .slide .carousel-inner .text-heding h2 {
    color: aliceblue;
    margin-top: 30px;
    padding: 4px;
    text-transform: uppercase;
    font-size: 52px;
  }
  .section1 .main .child {
    width: 50%;
  }
  .section1 .main .child .a {
    background-color: rgb(255, 255, 255);
    width: 68%;
    height: 40px;
    text-align: center;
    position: relative;
    margin: auto;
    padding-top: 10px;
    border-radius: 20px;
}
}


@media (max-width: 425px) {
  .right {
    float: right;
    padding-right: 10px;
    font-size: 16px;
    padding-right: 7px;
  }
  .left {
    padding-left: 1px;
  }
  .section1 .nav1 ul {
    list-style-type: none;
    padding-top: 0px;
    font-size: 15px;
  }
  .section1 .nav1 {
    /* margin-top: 10px; */
    width: 100%;
    height: 50px;
    background-color: white;
    margin: auto;
  }
 
    .section1 .main .child {
        width: 53%;
    }
    .section1 .main .child h1 {
      font-weight: bold;
      font-size: 26px;
      color: aliceblue;
      margin-top: 24px;
  }
  .section1 .main .child .a {
    height: 43px;
    width: 189px;
  }
}

@media (max-width: 375px) {
  .right {
    float: right;
    padding-right: 10px;
    font-size: 16px;
    padding-right: 7px;
  }
  .left {
    padding-left: 1px;
  }
  .section1 .nav1 ul {
    list-style-type: none;
    padding-top: 0px;
    font-size: 15px;
  }
  .section1 .nav1 {
    /* margin-top: 10px; */
    width: 100%;
    height: 50px;
    background-color: white;
    margin: auto;
  }
 
    .section1 .main .child {
        width: 69%;
    }
    .section1 .main .child h1 {
      font-weight: bold;
      font-size: 29px;
      color: aliceblue;
      margin-top: 24px;
  }
}
/*================================================================ end nVbar =============================================================== */

/* -----------====================-================----=========------- END section ONe  =================================================*/

/* =============================================   start section    tow  ================================= */
.section2 {
  width: 100%;
  height: auto;
  background-color: black;
  margin-top: 5%;
}
.section2 .allproducts{
  width: 80%;
  height: 20%;
  background-color: black;
  margin: auto;
} 
.section2 .allproducts .card{
  width: 100%;
  height: 20%;

}
.section2 .allproducts .card .row img{
  height: 100%;
  width: 100%;
}
.section2 .allproducts .card .card-body{
  text-align: center;
  margin: auto;
}
.section2 .card-body .text-card p{
  color: rgb(255, 69, 1);
}
.card-title{
  /* background-color: blue; */
  /* display: flex; */
  color: white;
  text-align: center;
  /* padding-left: 0px; */
}
.card-title h6{
  background-color: rgba(255, 69 , 1);
  padding: 10px;
  border-radius: 20px;

}
.card-title p{
  padding-left: 70px;
  color: rgba(255, 68, 1);
  font-weight: bold;
  font-size: 20px;

}


.card-body .link  a{
text-decoration: none;
color:black;
}
.Bedrooms {
  padding-top: 8px;
  display: flex;
  padding-left: 41px;
}
.Bedrooms span{
  color: black;
  font-weight: bold;
}
.card-body .border {
  margin: 10px;
}
.card-body .btn{
   margin: auto;
     background-color: black;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}
.card-body .btn:hover{
  background-color: orangered;
  color: aliceblue;
}


/* start  */
@media (max-width:768px) {
  .section2 .allproducts {
    width: 100%;
    height: 20%;
    background-color: black;
    margin: auto;
}
}
@media (max-width:425px){
  .card-title {
    /* background-color: blue; */
    display: flex;
    color: white;
    text-align: center;
    padding-left: 0px;
  }
  .Bedrooms {
    padding-top: 8px;
    display: flex;
    padding-left: 2px;
}
.delete{
  
    margin-left: 25%;
    color: black;
    font-size: 40px;

}
}
@media (max-width:375px){
  .card-title {
    /* background-color: blue; */
    display: flex;
    color: white;
    text-align: center;
    padding-left: 0px;
  }
  .Bedrooms {
    padding-top: 8px;
    display: flex;
    padding-left: 0px;
}
.delete{
  
    margin-left: 25%;
    color: black;
    font-size: 40px;
}
}

/* =============================================   start section    tow  ================================= */
